<nav class="navbar navbar-expand-lg  bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MailManager</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarScroll"
                aria-controls="navbarScroll"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" href="/">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages">Сообщения</a>
                </li>

            </ul>

            <span class="navbar-text" align="right">
                  <a class="auth-modal-toggle btn btn-outline-primary ms-2 me-1" href="" >EXIT</a>
            </span>

        </div>
    </div>
</nav>