{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block maintitle %}
<div class="col-md-12">
    <h3>Мои рассылки</h3>
</div>
{% endblock maintitle%}

{% block content %}

{% for list in lists %}

<div class="card col-md-3"
     align="center">
    <div class="card-body">
        <h5 class="card-title"><strong>ID </strong> :
            {{ list.id }}</h5>
        <p class="card-text"><strong>Тело рассылки</strong> :<br>
            {{ list.msg_body }}</p>
        <p class="card-text"><strong>Фильтр</strong> :<br>
            {{ list.filter }}</p>
        <p class="card-text"><strong>Дата и время начала</strong>:<br>
            {{ list.data_start.strftime("%Y-%m-%d-%H.%M.%S") }}</p>
        <p class="card-text"><strong>Дата и время конца  </strong>:<br>
            {{ list.data_end.strftime("%Y-%m-%d-%H.%M.%S") }}</p>
        <p class="card-text"><a href="mailing_list/{{ list.id }}" class="btn btn-primary">Подробнее</a></p>
    </div>
</div>



{% endfor %}
{% endblock %}