{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
  <div class="container-fluid" align="center">
    <div class="container-body">
      <h5 class="title"><strong>ID </strong> :
        {{ list.id }}</h5>
      <p class="card-text"><strong>Тело рассылки</strong> :<br>
        {{ list.msg_body }}</p>
      <p class="card-text"><strong>Фильтр</strong> :<br>
        {{ list.filter }}</p>
      <p class="card-text"><strong>Дата и время начала</strong>:<br>
        {{ list.data_start.strftime("%Y-%m-%d-%H.%M.%S") }}</p>
      <p class="card-text"><strong>Дата и время конца </strong>:<br>
        {{ list.data_end.strftime("%Y-%m-%d-%H.%M.%S") }}</p>
      <p class="card-text"><strong>Дата и время конца </strong>:<br>
        {{ list.data_end.strftime("%Y-%m-%d-%H.%M.%S") }}</p>


      <h4 class="title"><strong>Клиенты в рассылке </strong> :</h4>
       <table class="table table-dark" align="center">
         <thead>
         <tr>
           <th scope="col">ID</th>
           <th scope="col">Phone</th>
           <th scope="col">Code Phone</th>
           <th scope="col">Tag</th>
           <th scope="col">Timezone</th>
         </tr>
         </thead>
         <tbody>
         {% for client in clients %}
         <tr>
           <th scope="row">{{ client.id }}</th>
           <td>{{ client.phone }}</td>
           <td> {{ client.code_phone }}</td>
           <td>{{ client.tag }}</td>
           <td>UTC+{{ client.timezone }}</td>
         </tr>
         {% endfor %}
       </table>

      <h4 class="title"><strong>Статистика </strong> :</h4>
      <div class="col-md-2"></div>
      <div class="row col-md-8" align="center">
        <p style="margin-right: 50px;"><strong>Всего собщений</strong>
        {{ statistic['all'] }}</p>
        <p style="margin-right: 50px;"><strong>Успешно </strong> :
          {{ statistic['success'] }}</p>
        <p style="margin-right: 50px;"><strong>Ошибка </strong> :
          {{ statistic['failed'] }}</p>
        <p style="margin-right: 50px;"><strong>В процессе </strong> :
          {{ statistic['in_progress']}}</p>
      </div>
       <div class="col-md-2"></div>

    </div>
 </div>
{% endblock %}