{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block maintitle %}
<div class="col-md-12">
    <h3>Все письма </h3>
</div>
{% endblock maintitle%}

{% block content %}
<table class="table table-dark" align="center">
  <thead>
    <tr>
      <th scope="col">Время отправки</th>
      <th scope="col">Статус</th>
      <th scope="col">Клиент</th>
      <th scope="col">Рассылка</th>
    </tr>
  </thead>
  <tbody>
{% for msg in messages %}

    <tr>
      <th scope="row">{{ msg.send_time.strftime("%Y-%m-%d-%H.%M.%S") }}</th>
      <td >{{ msg.status }}</td>
      <td><a href="" > {{ msg.client_id }}</a></td>
      <td>{{ msg.list_id }}</td>
    </tr>
  {% endfor %}

<tbody>
{% endblock %}


